{% load static %}
<div class="container-fluid p-0">
   <footer class="footer d-flex flex-column align-items-center text-center text-light" id="footer">
      <h2 class="fw-bold display-5 pt-4 foot_tittle">Build it up</h2>
      
      <p class="py-4 fs-6 fw-lighter">institute for learning Arabic language, recitation and memorizatio of Al-Quran and sunnah of the messenger.
      </p>
      
      
      <ul class="icons mb-4">
        <li class="d-inline-block">
          <a href="#" class="icon text-primary text-decoration-none fa-twitter"><span class="label">Twitter </span></a>
        </li>
        <li class="d-inline-block">
          <a href="#" class="icon text-primary text-decoration-none fa-facebook"><span class="label">| Facebook</span></a>
        </li>
        <li class="d-inline-block">
          <a href="#" class="icon text-primary text-decoration-none fa-instagram"><span class="label">| Instagram</span></a>
        </li>
        <li class="d-inline-block">
          <a href="#" class="icon text-primary text-decoration-none fa-envelope"><span class="label">| Email</span></a>
        </li>
      </ul>


      <p class="copyright d-flex flex-row flex-nowrap w-100 justify-content-around p-1 mb-2">
       <span class="d-flex flex-row flex-nowrap"> &copy; Build it up. </span> 
       <span class="d-flex flex-row flex-nowrap"> Design: <a href="#" class="text-primary ">Sefiu Rasheed A. (Alkhaira media)</a> </span> 
        <span class="d-flex flex-row flex-nowrap"> Images: <a href="#" class="text-primary ">Alkhaira  media</a>. </span>  
        <span class="d-flex flex-row flex-nowrap">  Videos: <a href="#" class="text-primary ">myschool</a>.</span>
      </p>
    </footer>
</div>