{% extends 'mainframe.html' %}
{% load static %}





{% block content %}


<!-- THE HEADER -->
  
  {% include 'home_Navbar.html' %}

  <!--   THE HEADER END     -->


<!-- THE BANNER -->
<section class="banner" id="banner">
  <h2 class="welcome"> welcome
  </h2>
  <p class="p-5 m-0">
    Mahdulkhair online's courses are based on learning of Arabic language, Quran and Sunnah and draw upon the rich scholarly  tradition of Islamic civilization with a respect for all scholars of ahl al-sunnah wal-jama'ah. To date, our courses have been attended by thousands of people across the country
  </p>
        
  <button class="banner_btn py-1 px-3 m-5" id="banner_btn">
    <a href="#" target="_blank">Academic programs
    </a>
  </button>
  <h3 class="institute">Mahdulkhair institute
  </h3>
</section>
            <!-- THE BANNER END -->



<!-- MAIN BODY -->

<main class="main" id="main">

<!-- SECTION 1 -->

<section class="sec1 section">
  <div>
    <i class="globe pull-left">
    </i> 
    <h4 class="sec1_h4">learn from anywhere 
    </h4>
    <p class="sec1_p">All that you need to enter the virtual classroom is a laptop and an internet connection. You can be anywhere in the world and attend these classes.
    </p>
  </div>

<br />

  <div>
    <i class="clock pull-left"></i>
    <h4 class="sec1_h4">Learn at your convenience
    </h4>
    <p class="sec1_p" >
      Attend classes live or listen to the class recording at a convenient time. Online learning with ZAOnline allows busy women and girls to add religious learning to their daily schedule at any time that is convenient for them.
    </p>
  </div>

<br />

  <div>
    <i class="fa fa-users pull-left featureicon"></i>
    <h4 class="sec1_h4">
      Learn and connect with others
    </h4>
    <p class="sec1_p" >
      The virtual classroom brings together seekers of sacred learning from all around the globe. Students from different countries and backgrounds connect purely for gaining scared knowledge and add to each other’s learning experience.
    </p>
  </div>
</section>

<!-- SECTION 2 -->

<section class="sec2 section">
  <div class="sec2_div ">
    <i class="fa fa-leaf"></i>
    
    <h2 class="bigtitle">
      Study with us!
    </h2>

    <p>
      while relishing the perks of studying online:
    </p>
  </div>
	<div class="sec2_div">
	  <p>
      Programs at Mahdulkhair Online are carefully curated and developed by our Academic Department. These programs are designed to meet the intellectual and spiritual needs of everyone living in this day and age.
    </p>
  </div>

  <div class="sec2_div">
    <h5 class="pink-color">
      uni Lingual
    </h5>
    <p>
      Our programs are presented in universal language (English), hence making the classical Islamic tradition of knowledge accessible to all audience around the globe.
    </p>
  </div>
  <div class="sec2_div">
    <h5 class="green-color">
      Free of Cost
    </h5>
    <p>
      All of our courses are completely free of cost. Thus, there is no impediment to religious learning. All that it requires is your commitment.
    </p>
  </div>

  <div class="sec2_div">
    <h5 class="powderblue-color">
      Flexible
    </h5>
    <p>
      These courses are then taught through live online classes. Recordings are also available for students who are unable to attend live classes due to work or other commitments. This makes learning flexible and accessible.
    </p>
  </div>
</section>

<!-- section 3 -->

<section class="sec3 ">

<!-- TESTIMONIAL -->

  <h2 class="smalltitle">
    Testimonial
  </h2>

  <div id="sec3_div" class="sec3_div slides_container" >


    <div id="carouselExampleIndicators"  class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-indicators">
         <button 
         type="button"
         data-bs-target="#carouselExampleIndicators"
         data-bs-slide-to="0"
         class="active" id="select"></button>
   
        <button
         type="button"
         data-bs-target="#carouselExampleIndicators"
         data-bs-slide-to="1" id="select"></button>
      
        <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2" id="select"></button>
      
        <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3" id="select"></button>
      
        <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="4" id="select"></button>
      
        <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="5" id="select"></button>
      
        <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="6" id="select"></button>
      
        <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="7" id="select"></button>
      
        <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="8" id="select"></button>
      
      </div>

      
   
      <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="slid" >
            <blockquote class="blockquote">
              <p>“Alhamdulillah, I am finally able to plug myself into the incredible spiritual and intellectual tradition preserved by scholars of the Deen over the past 1400 years, thanks to mahdulkhair Online… MKO is an incredible blessing to every sister who doesn’t have access to scholarship in person.“
              </p>
            </blockquote>
            <figcaption class="blockquote-footer" style="color: #b0b3b4;"> Student from Geneva, Switzerland </figcaption>            
          </div>
         </div>
   
         <div class="carousel-item">
          <div class="slid" >
            <blockquote class="blockquote">
              <p>“It has been a very good experience being able to study at home. I have 2 young children so it would have been impossible for me to go to any school… Alhamdulillah I have learnt so much the last few months, all the work has been worth it.“</p>
            </blockquote>
            <figcaption class="blockquote-footer" style="color: #b0b3b4;"> Student from Oslo, Norway</figcaption>
          </div>
         </div>

         <div class="carousel-item">
          <div class="slid" >
            <blockquote class="blockquote">
              <p>“…Now take all that and put it in a modern context so that women can put their ‘ilm into practice in this day and age – that is what you are getting at MKO.“</p>
            </blockquote>
            <figcaption class="blockquote-footer" style="color: #b0b3b4;"> Student from Luton, UK</figcaption>
          </div>
        </div>

         <div class="carousel-item">
          <div class="slid" >
            <blockquote class="blockquote">
              <p>“I always wanted to focus some of my time to attain deeni knowledge but I never had the time to go out and study. mahdulkhair Online provided me with a golden opportunity to fulfill my dream from the comfort of my own home. Truly had an amazing experience.“</p>
            </blockquote>
            <figcaption class="blockquote-footer" style="color: #b0b3b4;"> Student from Johannesburg, South Africa</figcaption>
          </div>
      </div>
  
  
      <div class="carousel-item">
        <div class="slid" >
          <blockquote class="blockquote">
            <p>“Alhamdulillah, mahdulkhair Online (MKO) has been an answer to my du’as. Course recordings are available for us to listen to any lectures we may have missed or to re-listen to lectures just because they are that awesome! Whenever I am asked about online courses, the only name I recommend is MKO.“</p>
          </blockquote>
          <figcaption class="blockquote-footer" style="color: #b0b3b4;"> Student from Edmonton, Canada</figcaption>
        </div>
      </div>
  
      <div class="carousel-item">
        <div class="slid" >
          <blockquote class="blockquote">
            <p>“…Now take all that and put it in a modern context so that women can put their ‘ilm into practice in this day and age – that is what you are getting at MKO.“</p>
          </blockquote>
          <figcaption class="blockquote-footer" style="color: #b0b3b4;"> Student from Luton, UK</figcaption>
        </div>
      </div>
  
      <div class="carousel-item">
        <div class="slid" >
          <blockquote class="blockquote">
            <p>“MKO has made a huge difference for me, and allowed me the opportunity to learn very useful things about the foundation and sciences of Islam which broaden my understanding of my deen. Teachers are amazingly dedicated and compassionate, and the quality of doing it merely for the sake of Allah is admirable.“</p>
          </blockquote>
          <figcaption class="blockquote-footer" style="color: #b0b3b4;"> Student from California, USA</figcaption>
        </div>
      </div>
  
      <div class="carousel-item">
        <div class="slid" >
        <blockquote class="blockquote">
          <p>“Alhamdulillah, I am finally able to plug myself into the incredible spiritual and intellectual tradition preserved by scholars of the Deen over the past 1400 years, thanks to mahdulkhair  Online… MO is an incredible blessing to every sister who doesn’t have access to scholarship in person.“</p>
        </blockquote>
        <figcaption class="blockquote-footer" style="color: #b0b3b4;"> Student from Geneva, Switzerland</figcaption>
      </div>
      </div>
  
      <div class="carousel-item">
        <div class="slid" >
          <blockquote class="blockquote">
            <p>“It has been a very good experience being able to study at home. I have 2 young children so it would have been impossible for me to go to any school… Alhamdulillah I have learnt so much the last few months, all the work has been worth it.“</p>
          </blockquote>
          <figcaption class="blockquote-footer" style="color: #b0b3b4;"> Student from Oslo, Norway</figcaption>
        </div>
      </div>
  
      </div>
      
      <button class="carousel-control-prev"
         type="button"
         data-bs-target="#carouselExampleIndicators"
         data-bs-slide="prev">
         <span class="carousel-control-prev-icon"></span>
         <span class="visually-hidden">previous
         </span>
      </button>
      <button class="carousel-control-next"
         type="button"
         data-bs-target="#carouselExampleIndicators"
         data-bs-slide="next">
         <span class="carousel-control-next-icon"></span>
         <span class="visually-hidden">next
         </span>
      </button>
   </div>
    
  </div>
  
</section>
</main>

<!--           MAIN BODY  end                -->


{% endblock %}