{% extends 'mainframe.html' %}

{% load static %}

{% block content %}


   
<!--            navbar        -->
{% include 'home_Navbar.html' %}
<!--              navbar end         -->



<div class="cntainer-fluid">
   <div class=" row p-0 m-0">
      <!-- left         side bar          -->
      {% include 'sidebar.html' %}
      <!-- left         side barend          -->


      <!-- right -->
      <div class="col col-md-9 col-xl-10">

        


      </div>
   </div>
</div>
   




{% endblock %}
