{% load static %}
<div class="col-md-3 col-xl-2 d-none d-md-block m-0 p-0">
   <div class="navy d-flex pb-5 
      flex-column justify-content-between">
      <div class="d-flex flex-row align-items-center">
         <a class="navbar-brand rounded-5 " id="header_logo" href="">
            <figure class="" id="header_logo">
               <img class="fig_logo" src="{% static 'images/logo.png' %}" alt="company logo" width="350" height="350" />
            </figure>
         </a>
         <p class="profile_name text-secondary">Hello, {{request.user}}</p>
      </div>

      <ul class="navbar-nav nav_list w-100">
         <li class="nav-item  ps-4 py-1 my-3 w-100  "><a class="nav-link text-light" href="{% url 'home' %}">Home</a></li>

         <li class="nav-item  ps-4 py-1 my-3 w-100  "><a class="nav-link text-light" href="#">Login</a></li>

         <li class="nav-item  ps-4 py-1 my-3 w-100  "><a class="nav-link text-light" href="#">Student</a></li>

         <li class="nav-item  ps-4 py-1 my-3 w-100  "><a class="nav-link text-light" href="#">Teacher</a></li>

         <li class="nav-item  ps-4 py-1 my-3 w-100  "><a class="nav-link text-light" href="#">Parent</a></li>

         <li class="nav-item  ps-4 py-1 my-3 w-100  "><a class="nav-link text-light" href="#">About</a></li>

         <li class="nav-item  ps-4 py-1 my-3 w-100  "><a class="nav-link text-light" href="#">Forum</a></li>   
      </ul>
      <div class="enroll py-3 d-flex w-100  flex-column gap-3 align-items-center">
         <button class="px-2 btn btn-outline-primary">Enroll</button>
         <p class="message fw-bold">Enroll your child/children now!!!</p>
      </div>
   </div>
</div>